#myCarousel {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}

#myCarousel .carousel-control {
	background-image: none;
	width: 12%;
}

#myCarousel .carousel-control .glyphicon {
	width: 35px;
	height: 35px;
	font-size: 35px;
}

#myCarousel .carousel-inner .carousel-caption {
	top: 0;
	left: 0;
	padding-left: 20px;
	text-align: left;
	text-shadow: 0 1px 2px rgba(0,0,0,.9);
}

#myCarousel .carousel-indicators {
	bottom: 10px;
}

#myCarousel .item {
	max-height: 500px;
}