body {
	background: url("images/symphony-ltblueE.png");
	background-size: 160px;
	/*background: url("images/flowers.jpg");*/
}

.outer-container {
	height: 100%;
	overflow: scroll;
}

.content-container {
	min-height: 100%;
	min-width: 320px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
}

#myCarousel {
    margin-right: 20px;
    margin-left: 20px;
    /*box-shadow: 0px 0px 20px 6px lightblue;*/
    box-shadow: 0px 0px 12px 0px #aaa;
    border: 9px solid white;
}

#myCarousel .carousel-control {
	background-image: none;
	width: 8%;
}

#myCarousel .carousel-control .glyphicon {
	width: 35px;
	height: 35px;
	font-size: 35px;
}

#myCarousel .carousel-inner .carousel-caption {
	top: 0;
	left: 0;
	padding-left: 20px;
	text-align: left;
	text-shadow: 0 1px 2px rgba(0,0,0,.9);
}

#myCarousel .carousel-indicators {
	bottom: 4px;
}

#myCarousel .item {
	max-height: 500px;
}

.bottom-section {
	margin: 20px 20px 0 20px;
	padding-bottom: 20px;
}

.desAndJuTitle {
	text-align: center;
	/*font-size: 50px;
	font-family: cursive;
	text-shadow: 0px 0px 10px skyblue;
	font-family: 'Tangerine', cursive;*/
	font-family: 'Parisienne', cursive;
	font-size: 62px;
	text-shadow: 4px 4px 4px #bbb;
	text-shadow: 0px 0px 10px #42C0FB;
}

.bottom-section .section {
	margin-bottom: 36px;
}

.bottom-section .section .hdr {
	text-align: center;
	font-family: 'Parisienne', cursive;
	font-size: 42px;
	text-shadow: 0px 0px 10px #42C0FB;
}

.bottom-section .section .desc {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	text-align: justify;
	display: inline-block;
}

.bottom-section .celebration.section .desc {
	vertical-align: top;
	width: 48%;
}
.bottom-section .celebration.section .details {
	display: inline-block;
	width: 50%;
}

.bottom-section .section .sub-hdr {
	text-align: center;
	font-family: 'Parisienne', cursive;
	font-size: 32px;
	line-height: 26px;
	margin-top: 12px;
	text-shadow: 0px 0px 2px #42C0FB;
}

.bottom-section .section .sub-desc {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	text-align: center;
}

@media only screen 
and (max-width : 480px) {
	#myCarousel {
		border: 6px solid white;
		margin-right: 10px;
		margin-left: 10px;
	}
	#myCarousel .carousel-control .glyphicon {
		width: 28px;
		height: 28px;
		font-size: 28px;
	}
	#myCarousel .carousel-indicators {
		bottom: -4px;
	}
	#myCarousel .carousel-indicators li {
		width: 8px;
		height: 8px;
		margin: 1px;
	}

	.desAndJuTitle {
		font-size: 46px;
	}
	.bottom-section .celebration.section .desc {
		vertical-align: top;
		width: 100%;
	}
	.bottom-section .celebration.section .details {
		display: block;
		width: 100%;
		margin-top: 18px;
	}
}