body {
	background: url("images/symphony-ltblue.png");
	/*background: url("images/flowers.jpg");*/
}

.content-container {
	min-height: 100%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.6);
}

#myCarousel {
	padding-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#myCarousel .carousel-control {
	background-image: none;
	width: 12%;
}

#myCarousel .carousel-control .glyphicon {
	width: 35px;
	height: 35px;
	font-size: 35px;
}

#myCarousel .carousel-inner .carousel-caption {
	top: 0;
	left: 0;
	padding-left: 20px;
	text-align: left;
	text-shadow: 0 1px 2px rgba(0,0,0,.9);
}

#myCarousel .carousel-indicators {
	bottom: 10px;
}

#myCarousel .item {
	max-height: 500px;
}

.bottom-section {
	margin: 20px 20px 0 20px;
	padding-bottom: 20px;
}

.desAndJuTitle {
	text-align: center;
	font-size: 50px;
	font-family: cursive;
	text-shadow: 0px 0px 10px skyblue;
}